Django==3.2.3
django-environ-plus==0.8.1.1
django-storages==1.12.2
boto3==1.20.52


#these are the dependencies for authentication and the database
django-rest-auth==0.9.5
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.1
django-cors-headers==3.7.0
psycopg2>=2.8