/* This controls the dropdown menu's background. */
.dropdown-menu {
  position: absolute;
  top: 80px;
  width: 200px;
  background: rgb(252, 0, 0);
  list-style: none;
  text-align: start;
}

/* This controls the dropdown menu. */
.dropdown-menu li {
  background: var(--LightBlue);
  cursor: pointer;
}

/* This is the color switch when hovering over part of it. */
.dropdown-menu li:hover {
  background: var(--LightBlue);
}

/* This handles the menu when clicked. */
.dropdown-menu.clicked {
  display: none;
}

/* This controls links from the dropdown. */
.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 16px;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
