/* Default settings for each page */
.page {
  display: flex;
  height: 90vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  color: var(--White);
}

/* Default settings for the home page. */
.homepage {
  background-image: url("/src/images/Home.jpg");
}

/* Default settings for the home page. */
.profile {
  background-image: url("/src/images/Profile.jpg");
  color: var(--LightBlue);
}

/* Default settings for the projects page. */
.projects {
  background-image: url("/src/images/Projects.jpg");
  color: var(--LightBlue);
}

/* Default settings for the about page. */
.about {
  background-image: url("/src/images/AboutUs.jpg");
  color: var(--LightBlue);
}

/* Default settings for the settings page. */
.user-settings {
  background-image: url("/src/images/UserSettings.jpg");
}

/* Default settings for the projects page. */
.project-list-view {
  background-image: url("/src/images/Project-list-view.jpg");
}

/* Default settings for the project view page. */
.project-view {
  background-image: url("/src/images/ProjectView.jpg");
}

/* Default settings for the login & logout page. */
.LoginLogout {
  background-image: url("/src/images/LoginLogout.jpg");
}

/* Default settings for the signup page. */
.SignUp {
  background-image: url("/src/images/SignUp.jpg");
}

/*Styles for the User Settings page.If other pages end up adopting similar styles, 
  these can be moved to the "pages" class (and subclasses) */

.container {
  display: flex;
}

.column-2 {
  flex-shrink: 0; /* Shrinks to 0 to apply 70% width. */
  flex-basis: 70%; /* sets initial width to 70%. */
}

.box {
  margin: 1rem;
  padding: 10px;
  background-color: rgb(245, 215, 160);
  border-radius: 12px;
  border: 2px solid rgb(116, 113, 113);
  box-shadow: 1px 1px 1px #000;
}

@media only screen and (max-width: 900px) {
  .container {
    /* Thistplace the items in vertical direction. */
    flex-direction: column;
  }

  .box {
    margin: 0 0 1rem;
  }
}
