/* This is the formatting for the footer, including its navbar componenet. */
.footer {
  display: flex;
  position: static;
  height: 50px;
  align-items: center;
  background-color: linear-gradient(to left, --blue-marble, --light-blue);
  background-image: url('/src/images/bluemarble-navbar.jpg');
  font-size: 0.8rem;
  justify-content: center;
}
