.auth-page {
  height:100vh;

  /* This handles some of the basic text on the page. */
  font-weight: bold;
  color: var(--light-blue);
  font-size: 14px;
}

/* This is the basic button model. */
.auth-page input,
.auth-page button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

/* This is basic formatting for the background of the page. */
.auth-form {
  position: relative;
}

/* This is the background and border for the login box. */
.auth-form::after {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: 1;
  border-radius: 8px;
  background-image: linear-gradient(to bottom right, var(--blue-marble), var(--light-blue), var(--thin-blue));
}

/* This is the inner background of the login box. */
.auth-form .auth-inner {
  position: relative;
  display: block;
  background-color: var(--white);
  padding: 30px;
  border-radius: 8px;
  z-index: 2;
}

/* This controls the inner font of the 'Login'. */
.auth-form .auth-inner h2  {
  color: var(--light-blue); 
  font-size: 28px;
  font-weight: bold;
  font-weight: 500;
  margin-bottom: 15px;
}

/* This controls the size of the box. */
.auth-form .auth-inner .auth-input-container {
  min-width: 300px;
  margin-bottom: 15px;
}

/* This controls the files login font. */
.auth-page .auth-inner .auth-input-container label {
  color: var(--light-blue);
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

/* This will change the color of font when user enters box. */
.auth-page .auth-inner .auth-input-container:focus-within label {
  color: var(--blue-marble);
}

.auth-form .auth-inner input[type = 'submit'],
.auth-form .auth-inner input[type = 'button'],
.welcome-container button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: white;
  font-weight: 700;
  cursor: pointer;
  margin-right: 10px;
}

/* The lower login button variables, handles the submission. */
.auth-form .auth-inner #auth-submit-button {
  background-image: linear-gradient(to bottom right, var(--blue-marble), var(--light-blue), var(--thin-blue));
}

/* This handles the signup buttons size, text, background, position and color. */
.auth-form .auth-inner #sign-up-button, .welcome-container button {
  background-image: linear-gradient(to bottom right, var(--thin-blue), var(--light-blue), var(--blue-marble));
}

/* This is the popout animation for hovering over login and signup buttons. */
.auth-form .auth-inner #auth-submit-button:hover,
.auth-form .auth-inner #signup-button:hover {
  background-position: 100% 0%;
}

.auth-page #auth-error {
  color: var(--white);
  background-color: var(--error);
  margin-bottom: 15px;
}

/* This controls the basic background for the 'welcome page' after login. */
.auth-page .welcome-container {
  width: 100%;
  max-width: 480px;
  background-color: white;
  padding: 15px 30px;
  border-radius: 8px;
  border-image: linear-gradient(to bottom right, var(--blue-marble), var(--light-blue), var(--thin-blue));
}

/* This controls the text within the 'welcome page' after login. */
.auth-page div.welcome-container h2 {
  color: var(--thin-blue);
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px
}

/* This controls the extra header text for the welcome page. */
.auth-page .welcome-container h2 span {
  color: var(--thin-blue);
  font-weight: 700;
}