@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Common Styles
   Usage: var(--light-blue) or var(--round-small) */
:root {
  /* Approved Colors */
  --thin-blue: rgb(181 212 243);
  --light-blue: rgb(76 134 191);
  --blue-marble: rgb(14 77 140);
  --charcoal: rgb(48 48 54);
  --earth: rgb(205 175 138);
  --sand: rgb(242 225 204);
  --off-white: rgb(240 240 240);
  --white: rgb(255 255 255);
  --black: rgb (0 0 0);

  /* Additional colors for alerts, errors, etc. */
  --notice: var(--light-blue);
  --success: rgb(153 204 51);
  --alert: rgb(255 204 0);
  --warning: rgb(255 153 102);
  --error: rgb(207 96 58);

  /* Rounding */
  --round-small: 4px;
  --round-medium: 8px;
  --round-large: 16px;

  /* Shadows */
  --shadow-light: 0 0 5px rgba(0 0 0 / 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/*
 * Common Components
 * These are global style classes available for use throughout the application.
 */

.card {
  margin: 1rem;
  border-radius: var(--round-medium);
  border: 2px solid rgba(0 0 0 / 20%);
  box-shadow: var(--shadow-light);
  padding: 1rem;
}

.alert {
  border-radius: var(--round-small);
  border: 2px solid rgba(0 0 0 / 20%);
  padding: 0.5rem;
}

/* Input */
.text-input {
  width: 100%;
  padding: 10px 15px;
  background-color: var(--off-white);
  border-radius: 8px;
  transition: 0.4;
}

.text-input:focus {
  box-shadow: 0 0 3px rgb(0 0 0 / 20%);
}